$primary: #4c175a;
$secondary: #863b87;
$success: #228b22;
$info: #191970;
$warning: #e49b0f;
$danger: #880808;
$light: #ecf2f4;
$dark: #27214f;
$purple: #9a52a3;
$white: #dedce6;
$body-bg: $light;
$font-family-sans-serif: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

@import "~bootstrap/scss/bootstrap";
