$primary: #4C175A;
$secondary: #863B87;
$success: #2E8B57;
$info: #191970;
$warning: #E49B0F;
$danger: #880808;
$light: #ECF2F4;
$dark: #27214F;
$purple: #9A52A3;
$white: #DEDCE6;
$body-bg: $light;
$font-family-sans-serif: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

@import "~bootstrap/scss/bootstrap"