/* Viewport Helpers*/
.viewport-height {
  height: 100vh;
}

.viewport-width {
  width: 100vw;
}

/* AppContainer */
.fixed-navbar {
  position: fixed;
  top: 0px;
  z-index: +1;
  background-color: #ecf2f4;
  box-shadow: 0px 1px 12px 0px lightgrey;
}

.children {
  position: relative;
  top: 100px;
}

/* Cursor */
.pointer {
  cursor: pointer;
}

/* Navbar */
.nav-icon {
  color: #4c175a;
  height: 1.5em;
  width: 1.5em;
}

.nav-label {
  font-size: 1em;
}

/* Course */
.metric-label {
  margin-bottom: -2px;
}

.progress-slim {
  height: 6px !important;
}

.course-icon {
  color: #ecf2f4;
  height: 1em;
  width: 1em;
}

.course-badge {
  min-width: 75px;
}

/* Learn */
.learn-icon {
  height: 1.75em;
  width: 1.75em;
}

.timer {
  border-radius: 10%;
}

.timer-font {
  font-size: 4em;
}

.timer-icon {
  color: #dedce6;
  height: 3.5em;
  width: 3.5em;
}

/* Misc */
.brand-shadow {
  box-shadow: 0px 9px 12px 3px lightgrey;
}

.number {
  font-family: "Titillium Web";
}

.dash-card {
  width: calc(100% - 48px) !important;
  box-shadow: 0px 9px 12px 3px lightgrey;
}

.progress-medium {
  height: 9px !important;
}

.headline-font {
  font-size: 12vw;
}

.solution-title {
  font-size: 9vw;
}

.solution-subheading {
  font-size: 4.4vw;
}

.product-title {
  font-size: 4.9vw !important;
}

.testimonial-name {
  font-size: 6vw;
}

.testimonial-detail {
  font-size: 4vw;
}

.testimonial-avatar {
  width: 16vw;
  height: 16vw;
}

.testimonial-card {
  min-height: 100px !important;
}

.moneyback {
  height: 200px;
  width: 200px;
}

.landing-logo {
  height: 40px;
  width: 124px;
}

.superhero {
  height: 250px !important;
}

.fixed-contact {
  position: fixed;
  bottom: 0px;
  z-index: +1;
}

.founder-img {
  height: 100px;
  width: 100px;
}

.contact-font {
  font-size: 3rem;
}

.feature-list-height {
  min-height: 66px !important;
}

.feature-description-height {
  min-height: 100px !important;
}

/* Fonts */
@font-face {
  font-family: Poppins;
  src: url(./assets/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Titillium Web";
  src: url(./assets/fonts/TitilliumWeb-Regular.ttf);
}

/* Media queries */
@media screen and (min-width: 992px) {
  .nav-icon {
    height: 1.875em;
    width: 1.875em;
  }

  .nav-label {
    font-size: 1.25em;
  }

  .headline-font {
    font-size: 6.6vw;
  }

  .solution-title {
    font-size: 3.6rem;
  }

  .solution-subheading {
    font-size: 1.3rem;
  }

  .product-title {
    font-size: 1.3rem !important;
  }

  .testimonial-name {
    font-size: 2vw;
  }

  .testimonial-detail {
    font-size: 1vw;
  }

  .testimonial-avatar {
    width: 5vw;
    height: 5vw;
  }

  .testimonial-card {
    min-height: 100px !important;
  }

  .moneyback {
    height: 150px;
    width: 150px;
  }

  .founder-img {
    height: 200px;
    width: 200px;
  }

  .feature-description-height {
    min-height: 120px !important;
  }
}

@media screen and (max-width: 364px) {
  .testimonial-card {
    min-height: 310px !important;
  }
}

@media screen and (min-width: 364px) and (max-width: 424px) {
  .landing-logo {
    height: 50px;
    width: 155px;
  }

  .testimonial-card {
    min-height: 235px !important;
  }
}

@media screen and (max-width: 768px) {
  .product-title {
    font-size: 1rem !important;
  }
}

@media screen and (min-width: 768px) {
  .product-title {
    min-height: 50px !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .feature-list-height {
    min-height: 90px !important;
  }

  .feature-description-height {
    min-height: 145px !important;
  }

  .testimonial-card {
    min-height: 130px !important;
  }
}

@media screen and (min-width: 425px) and (max-width: 991px) {
  .testimonial-name {
    font-size: 3.6vw;
  }

  .testimonial-detail {
    font-size: 2vw;
  }

  .testimonial-avatar {
    width: 9vw;
    height: 9vw;
  }

  .product-title {
    font-size: 1.3rem !important;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .testimonial-card {
    min-height: 220px !important;
  }
}

/* React-Toastify Overrides */
:root {
  --toastify-color-light: #ecf2f4;
  --toastify-color-dark: #27214f;
  --toastify-color-info: #191970;
  --toastify-color-success: #2e8b57;
  --toastify-color-warning: #e49b0f;
  --toastify-color-error: #880808;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);

  --toastify-toast-width: 320px;
  --toastify-toast-background: #ecf2f4;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: Poppins;
  --toastify-z-index: 9999;

  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #ecf2f4;

  /* Used only for colored theme */
  --toastify-text-color-info: #ecf2f4;
  --toastify-text-color-success: #ecf2f4;
  --toastify-text-color-warning: #ecf2f4;
  --toastify-text-color-error: #ecf2f4;

  --toastify-spinner-color: #4c175a;
  --toastify-spinner-color-empty-area: #ecf2f4;

  /* Used when no type is provided */
  /* toast("**hello**") */
  --toastify-color-progress-light: linear-gradient(
    to right,
    #27214f,
    #4c175a,
    #863b87,
    #9a52a3
  );
  /* Used when no type is provided */
  --toastify-color-progress-dark: #9a52a3;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
}
